In [3]:
import pandas as pd
df=pd.read_csv('Data/musicData.csv')
df.describe()

              25          1
count  17.000000  17.000000
mean   28.882353   0.470588
std     5.688611   0.514496
min    20.000000   0.000000
25%    23.000000   0.000000
50%    30.000000   0.000000
75%    33.000000   1.000000
max    37.000000   1.000000